<style type="text/css">
  .customer {
    width: 100vw;
    display: flex;
    overflow: hidden;
  }
  .customer a {
    text-decoration: none;
    color: white;
    width: 30vw;
  }
  .customer-left {
    width: 50%;
    height: calc(100vh - 70px);
  }
  .left-image {
    background-image: url("/assets/customer.jpg");
    background-size: cover;
    height: calc(100vh - 70px);
    transition: all 2s ease-in-out;
  }
  .left-content {
    position: relative;
    top: -60vh;
    font-size: 50px;
    left: 28%;
    opacity: 0;
    transition: 0.5s ease;
  }
  .customer-left:hover .left-content {
    opacity: 1;
  }
  .customer-left:hover .left-image {
    background-image: linear-gradient(-225deg, rgba(0,101,208,0.4) 0%, rgba(0,36,61,0.4) 30%), url("/assets/customer.jpg");
  }

  .customer-right {
    width: 50%;
    height: calc(100vh - 70px);
  }
  .right-image {
    background-image: url("/assets/factory.jpg");
    background-size: cover;
    height: calc(100vh - 70px);
    transition: all 2s ease-in-out;
  }
  .right-content {
    position: relative;
    top: -60vh;
    font-size: 50px;
    left: 30%;
    opacity: 0;
    transition: 0.5s ease;
  }
  .customer-right:hover .right-content {
    opacity: 1;
  }
  .customer-right:hover .right-image {
    background-image: linear-gradient(-225deg, rgba(0,101,208,0.4) 0%, rgba(0,36,61,0.4) 30%), url("/assets/factory.jpg");
  }
  .text-content {
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
</style>
      <!-- filter: blur(1px); -->
    <!-- -webkit-filter: blur(1px); -->
<div class="customer">
  <div class="customer-left">
    <div class="left-image"></div>
    <div class="left-content"><div class="text-content"><%= link_to "View Customers", all_buyers_path %></div></div>
  </div>
  <div class="customer-right">
    <div class="right-image"></div>
    <div class="right-content"><div class="text-content"><%= link_to "View Suppliers", all_sellers_path %></div></div>
  </div>
</div>
