/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  height: 10vh;
  width: 50vw;
  top: 30vh;
  left: 25%;
  font: 32px;
  border-radius: 10px;
}
.alert-info {
  background-color: white;
  border: green solid 3px;
  color: $green;
}
.alert-warning {
  background-color: white;
  border: red solid 3px;
  color: $red;
}
