<% if !Detail.nil? %>
  <% @details.each do |d| %>
    <%= d.name %>
    <%= link_to "delete", detail_path(d), method: :delete, data: {confirm: "Are you sure"} %>
  <% end %>
<% else %>
  <h1>您目前还没有任何参数种类。</h1>
  <%= link_to "Customize your own data type", new_detail_path %>
<% end %>
