<%= simple_form_for @detail do |f| %>
  <h1>Add A New Data Type</h1>
  <%= f.input :name, placeholder: "e.g. Battery Capacity", label: "Data Type" %>
  <%= f.button :submit, "Save" %>
<% end %>
<%= link_to "Cancel", :back %>
